*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppons', sans-serif;
    cursor: pointer;
}

#wrapper {
    width: 100%;
    height: 100vh;
}

#header{
    width: 100%;
    padding: 0px 30px;  
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#menu{
    list-style: none;
    display: flex;
    
}

#menu .item {
    margin: 0px 25px;
}

#menu .item a {
    color: #626a67;
    text-decoration: none;
}
#acctions{
    display: flex;
}
#acctions.item{
    margin-left: 28px;
}




#banner{
    width: 100%;
    background-image: url(banner.jpg);
    height: 483px;
    margin-top: 40px;   
    display: flex;  
    padding: 0px 133px;
    position: relative;
}

#banner .box-left ,#banner .box-right {
    width: 50%;
}
#banner .box-left h2 {
    font-size: 48px;
    margin-top: 75px;
    color: rgb(244, 243, 243);
}
#banner .box-left p {
    color: rgb(250, 245, 245);
}
#banner .box-left button {
    width: 191px;
    height: 40px;
    margin-top: 41px;
    background-color: #3b403e;
    border: none;
    outline: none;
    font-weight: bold;
    border-radius: 20px;
    transition: 0.4ps;
    color: aliceblue;
}
#banner .box-left button:hover {
    background: orange;
     
}